/*Frontpage CTA-Cards*/
.ysn-logo, .ysn-copy {
    text-align: center;
}
.cta-card {
    margin: 0;
}

cta-card a {
    margin: 0;
}

.cta-card h5, h6 {
    text-align: center;
    margin: 0;
}

.cta-card-1, .cta-card-2 {
    padding-top: 1.5em;
    padding-right: .5em;
    padding-left: .5em;
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    min-width: 100%;
    min-height: 180px
}
.cta-card-1 {
    background-image: url(http://placehold.it/180x180);

}

.cta-card-2 {
    background-image: url(http://placehold.it/180x180);
}

@media all and (min-width: 822px) {
    .cta-card {
        display: inline-block;
    }
    
    .cta-card-1 {
        min-width: 49%;
        float: left;
        
 
    }
    .cta-card-2 {
        min-width: 49%;
        float: right;
    
    }
}






/*div .ysn-logo{
  text-align: center;
  margin-top: 10px;
  max-height: 400px;
    max-width: 400px;
}

cta-cards container

.cta-cards {
  text-align: center;
}

.cta-cards a {
  text-decoration: none !important;
}

individual cta card
.cta-card {
  min-height: 13em;
  border-radius: 3px;
}

.cta-card h4 {
  padding-top: 1em;
  font-size: 32;
  font-family: marketingScript;
}

#cta-card-1 {
  background-image: url(http://placehold.it/180x180);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#cta-card-2 {
  background-image: url(http://placehold.it/180x180);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#cta-card-3 {
  background-image: url(http://placehold.it/180x180);
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;*/
/*}*/

